<h3>
<u>
RFX Title: Catalyst for DTA Refinery
</u>
<br>
<br>
Bid Due Date :
<br><br>
Technical  : <span class="float">
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
 </span>
 <br>
 <br>
Commercial :
<span>
<input matInput [matDatepicker]="picker1" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
</span>
</h3>