
<table style="margin-top:20px">

<tr>
<td><b>Add Supplier:</b>
<input type="text" class="textarea" style="margin-left:100px">
<span class="area"><button class="button" mat-stroked-button style="color:blue;"><u><b>Suggest</b></u>
</button>
</span>
&nbsp;&nbsp;
<button class="button" mat-stroked-button><b>Add New Supplier</b></button>
</td>
</tr>

<br>

<tr>
  <td><b>Collaboration Setup:</b><input type="text" class="textarea" style="margin-left:54px">
  <span class="area"><button id="button1" mat-stroked-button><b>Add Names</b></button></span>
  </td>
</tr>

<br>

<tr>
    <td><b>Technical Specification:</b><input type="text" class="textarea" style="margin-left:35px">
    <span class="area">
    <button class="button" mat-stroked-button style="height:40px;width:40px;font-size:large"><b>+</b>
    </button></span>
    </td>
</tr>

<br>

<tr>
    <td>
    <span class="room"><button class="button" mat-stroked-button><b>Preview</b></button></span>
    <span class="area"><button class="button" mat-stroked-button><b>Save as Draft</b></button></span>
    <span class="area"><button class="button" mat-stroked-button style="color:blue;"><b><u>Create RFX</u></b>
    </button></span>
    </td>
</tr>

</table>

